<div class="carwash-container-bg">
  <div class="individual-service-container">
    <div class="service-description">
      <i class="fa fa-car"></i>
      <h1>Car Wash</h1>
      <p>Don’t stress yourself waiting in lines for your car to be washed. Our experienced car washers will show up at your house and extensively wash your car right in time for work. Make your car washing simpler.</p>
      <br>
      <p id="highlight">What's included with an Alpha car wash:</p>
      <br>
      <ul>
        <li><p class="checklist"><i class="fa fa-check" id="i-highlight"></i> Verified and trusted professionals</p></li>
        <li><p class="checklist"><i class="fa fa-check" id="i-highlight"></i> 24/7 Customer support</p></li>
      </ul>

      <ul>
        <li><p class="checklist"><i class="fa fa-check" id="i-highlight"></i> 100% money-back guarantee</p></li>
        <li><p class="checklist"><i class="fa fa-check" id="i-highlight"></i> Affordable prices</p></li>
      </ul>
    </div>
  </div><!-- Services Container -->
</div><!-- Services Container BG -->