<div class="cleaning-container-bg">
  <div class="individual-service-container">
    <div class="service-description">
      <i class="fa fa-home"></i>
      <h1>Cleaning Services</h1>
      <p>Our home and office cleaners are all professionals who have been in the business for many years. They come, they clean and they leave you happy. All our Alpha professionals have undergone vetting and continue to undergo rolling supervision.</p>
      <br>
      <p id="highlight">What's included with an Alpha cleaning:</p>
      <br>
      <ul>
        <li><p class="checklist"><i class="fa fa-check" id="i-highlight"></i> Verified and trusted professionals</p></li>
        <li><p class="checklist"><i class="fa fa-check" id="i-highlight"></i> 24/7 Customer support</p></li>
      </ul>

      <ul>
        <li><p class="checklist"><i class="fa fa-check" id="i-highlight"></i> 100% money-back guarantee</p></li>
        <li><p class="checklist"><i class="fa fa-check" id="i-highlight"></i> Affordable prices</p></li>
      </ul>
    </div>
  </div><!-- Services Container -->
</div><!-- Services Container BG -->