<div class="painting-container-bg">
  <div class="individual-service-container">
    <div class="service-description">
      <i class="fa fa-paint-brush"></i>
      <h1>Painting Services</h1>
      <p>Your home is valuable; don’t get a <em>juakali</em> paint job done. Our painters have lots of experience doing all forms of paint jobs and there is no job too big for them.</p>
      <br>
      <p id="highlight">What's included with an Alpha painting service:</p>
      <br>
      <ul>
        <li><p class="checklist"><i class="fa fa-check" id="i-highlight"></i> Verified and trusted professionals</p></li>
        <li><p class="checklist"><i class="fa fa-check" id="i-highlight"></i> 24/7 Customer support</p></li>
      </ul>

      <ul>
        <li><p class="checklist"><i class="fa fa-check" id="i-highlight"></i> 100% money-back guarantee</p></li>
        <li><p class="checklist"><i class="fa fa-check" id="i-highlight"></i> Affordable prices</p></li>
      </ul>
    </div>
  </div><!-- Services Container -->
</div><!-- Services Container BG -->