<div class="security-container-bg">
  <div class="individual-service-container">
    <div class="service-description">
      <i class="fa fa-lock"></i>
      <h1>Security Guards</h1>
      <p>Our NYS trained security guards have an exceptional amount of both experience and training in this field. In partnership with Alpha Force Security our guards are fully equipped to handle all aspects of security from events, home security, office security etc.</p>
      <br>
      <p id="highlight">What's included with an Alpha security service:</p>
      <br>
      <ul>
        <li><p class="checklist"><i class="fa fa-check" id="i-highlight"></i> Verified and trusted professionals</p></li>
        <li><p class="checklist"><i class="fa fa-check" id="i-highlight"></i> 24/7 Customer support</p></li>
      </ul>

      <ul>
        <li><p class="checklist"><i class="fa fa-check" id="i-highlight"></i> 100% money-back guarantee</p></li>
        <li><p class="checklist"><i class="fa fa-check" id="i-highlight"></i> Affordable prices</p></li>
      </ul>
    </div>
  </div><!-- Services Container -->
</div><!-- Services Container BG -->