<div class="faq-container-bg">
  <div class="faq-container">
    <h1>Frequently Asked Questions</h1>
    <p>We are here to answer your questions.</p>
  </div><!-- FAQ Container -->
</div><!-- FAQ Container BG -->


<script>
  $(document).ready(function() {
    $('#faq').addClass('active')
  })
</script>