<div class="jumbotron">
  <div class="jumbotron-container">
    <h1>Make your home smile.</h1>
    <p>Book trusted and verified home and office cleaners and handymen at your convenience. Whether its cleaning, plumbing, painting or electrical wiring, we have verified professionals who can get the job done!</p>
    <div align="center"><a class="btn btn-primary btn-lg" role="button">Book a Cleaning</a></div>
    <div align="center"><a class="btn btn-default btn-lg" role="button">See all Services</a></div>
  </div>
</div><!-- Jumbotron -->

<!-- Value Proposition Section -->
<div class="value-container-bg">
  <div class="value-container">
    <div class="value-box">
      <i class="fa fa-thumbs-up"></i>
      <h1>Trusted Professionals</h1>
      <p>All our services are carried out by experienced and trained Alpha professionals. Backgrounds checked, insured, and supervised.</p>
    </div><!-- Trusted Professionals -->
    <div class="value-box">
      <i class="fa fa-clock-o"></i>
      <h1>3 Hour Availability</h1>
      <p>Order now and we will be there as quick as three hours, ready to work.</p>
    </div><!-- 3 Hour Availability -->
    <div class="value-box">
      <i class="fa fa-magic"></i>
      <h1>100% Money Back Guarantee</h1>
      <p>Tell us if you’re not satisfied. We will refund all your money back, no questions asked.</p>
    </div><!-- 100% Money Back -->
  </div><!-- Value Proposition Section -->
</div><!-- Value Proposition BG -->

<!-- How It Works -->
<div class="how-container-bg">
  <div class="how-container">
    <div class="how-box">
      <div class="how-box-img">
        <i class="fa fa-calendar"></i>
      </div>
      <div class="how-box-step">
        <div class="step-circle">1</div>
        <h2>Select the date and time you'd like to book your service.</h2>
      </div>
    </div><!-- Step 1: Select Date -->

    <div class="how-box">
      <div class="how-box-step">
        <div class="step-circle">2</div>
        <h2>We’ll confirm your appointment and you can choose to pay via PayPal, mPesa, or by Cash on site.</h2>
      </div>
      <div class="how-box-img">
        <i class="fa fa-credit-card"></i>
      </div>
    </div><!-- Step 2: Select Payment -->

    <div class="how-box">
      <div class="how-box-img">
        <i class="fa fa-users"></i>
      </div>
      <div class="how-box-step">
        <div class="step-circle">3</div>
        <h2>A team of fully equipped and experienced Alpha professionals will knock on your door on time!</h2>
      </div>
    </div><!-- Step 3: Show up -->
  </div><!-- How It Works container -->
</div><!-- How It Works BG -->

<div class="how-jumbotron">
  <div class="how-jumbotron-container">
    <h2>Stop worrying and start relaxing. We got you covered!</h2>

    <div class="cta">
        <div><a class="btn btn-primary btn-lg" role="button">Book a Cleaning</a></div>
        <div><a class="btn btn-default btn-lg" role="button">See all Services</a></div>
    </div>
  </div>
</div><!-- How jumbotron -->

<!-- Testimonials -->
<div class="testimonials-container-bg">
  <div class="testimonials-container">
    <div align="center"><i class="fa fa-coffee"></i></div>
    <h2>Word on the streets</h2>

    <!-- Quote Carousel -->
    <div id="quote-carousel" class="carousel slide" data-ride="carousel">
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <!-- Slide 1 -->
        <div class="item active">
          <div class="quote-container">
            <div class="quote-box">
              <div class="well well-sm">
                <p>The Alpha men and women were super nice and did an excellent job cleaning my home. It's like I'm living a new house!</p>
                <p id="customer">- Albert, Kilimani</p>
              </div>
            </div>

            <div class="quote-box">
              <div class="well well-sm"><p>Always on time, friendly, and gets the job done! There are no other services as reliable and affordable as Alpha Home.</p>
              <p id="customer">- Tave, Karen</p>
              </div>
            </div>

            <div class="quote-box">
              <div class="well well-sm"><p>I threw a really messy party. Called Alpha Home, they came and made the house sparkling clean the next day!</p>
              <p id="customer">- Oluwarotimi, Runda</p>
              </div>
            </div>
          </div><!-- Quote Container -->
        </div><!-- Slide 1 -->
        <!-- Slide 2 -->
        <div class="item">
          <div class="quote-container">
            <div class="quote-box">
              <div class="well well-sm">
                <p>The Alpha men and women were super nice and did an excellent job cleaning my home. It's like I'm living a new house!</p>
                <p id="customer">- Albert, Kilimani</p>
              </div>
            </div>

            <div class="quote-box">
              <div class="well well-sm"><p>Always on time, friendly, and gets the job done! There are no other services as reliable and affordable as Alpha Home.</p>
              <p id="customer">- Tave, Karen</p>
              </div>
            </div>

            <div class="quote-box">
              <div class="well well-sm"><p>I threw a really messy party. Called Alpha Home, they came and made the house sparkling clean the next day!</p>
              <p id="customer">- Oluwarotimi, Runda</p>
              </div>
            </div>
          </div><!-- Quote Container -->
        </div><!-- Slide 2 -->
        <!-- Slide 3 -->
        <div class="item">
          <div class="quote-container">
            <div class="quote-box">
              <div class="well well-sm">
                <p>The Alpha men and women were super nice and did an excellent job cleaning my home. It's like I'm living a new house!</p>
                <p id="customer">- Albert, Kilimani</p>
              </div>
            </div>

            <div class="quote-box">
              <div class="well well-sm"><p>Always on time, friendly, and gets the job done! There are no other services as reliable and affordable as Alpha Home.</p>
              <p id="customer">- Tave, Karen</p>
              </div>
            </div>

            <div class="quote-box">
              <div class="well well-sm"><p>I threw a really messy party. Called Alpha Home, they came and made the house sparkling clean the next day!</p>
              <p id="customer">- Oluwarotimi, Runda</p>
              </div>
            </div>
          </div><!-- Quote Container -->
        </div><!-- Slide 3 -->
      </div>
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#quote-carousel" data-slide-to="1"></li>
        <li data-target="#quote-carousel" data-slide-to="2"></li>
      </ol>
    </div><!-- Quote Carousel -->

  </div><!-- Testimonials Container -->
</div><!-- Testimonials Container BG -->

