/* Fonts */

@import url(http://fonts.googleapis.com/css?family=Lily+Script+One|Squada+One|Exo:500);


/* General */

body {
  padding-top: 70px;
  -webkit-font-smoothing: antialiased;
}

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }

.clear:before, .clear:after {
    content: " ";
    display: table;
}

.clear:after {
    clear: both;
}

a, .btn {
  transition: all 0.2s ease;
}

a:hover, .btn:hover {
  transition: all 0.2s ease;
  text-decoration: none !important;
}

.hidden { display: none; }

.visibility-hidden { visibility: hidden;}

/* Navbar */

$navbar-height: 70px;
$navbar-default-bg: #FFF;
$navbar-default-brand-color: #04C2E6;
$navbar-default-link-color: #2E2E2E;
$navbar-default-link-hover-color: #1CCAEC;
$navbar-default-link-active-color: #1CCBEC;
$navbar-default-link-active-bg: transparent;

.navbar {
  box-shadow: 1px 1.4px 2px #7A7A7A;
}
.container-fluid {
  width: 85%;
  margin: 0 auto;
}

.navbar-brand {
  font-family: 'Squada One', cursive;
  font-size: 2.8em !important;
}

.nav li {
  font-family: 'Exo', sans-serif;
  letter-spacing: 1px;
}

/* Jumbotron */

.jumbotron {
  height: 698px;
  background-image: url('alpha-home-clean-kitchen.jpg');
  background-size: cover;
}

.jumbotron-container h1 {
  text-align: center;
  color: #FFF !important;
  font-family: 'Lily Script One', cursive;
  font-size: 6em !important;
  padding-top: 5%;
}

.jumbotron-container {
  width: 65%;
  margin: 0 auto;
}

.jumbotron-container p {
  text-align: center;
  color: #FFF !important;
  font-size: 2em !important;
}

$btn-primary-bg: #2566FC;
$btn-primary-color: #FFF;

.btn-lg {
  padding: 25px 70px !important;
  letter-spacing: 1px;
  margin: 15px 0;
  border: none !important;
}

/* Value Proposition */

.value-container-bg {
  background-color: #FFF;
  width: 100%;
  height: 400px;
  padding-top: 3%;
}


.value-container {
  width: 85%;
  margin: 0 auto;
}

.value-box {
  width: 33%;
  margin: 2% 0;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  padding: 0 2%;
}

.value-box h1 {
  text-transform: uppercase;
  color: #424242;
  font-size: 1.5em;
}

.value-box p {
  font-size: 1.2em;
  line-height: 1.5em;
}

.value-box i {
  font-size: 6em;
  color: #04C2E6;
  margin-bottom: 3%;
  transition: all 0.2s ease;
}

.value-box i:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: all 0.2s ease;
}

/* How It Works */

.how-container-bg {
  width: 100%;
  height: 950px;
  padding-top: 8%;
  background-color: #018EA8;
}

.how-container {
  width: 70%;
  margin: 0 auto;
}

.how-box {
  width: 100%;
  margin: 3% 0;
  float: left;
}

.how-box-img {
  width: 30%;
  margin: 0;
  display: block;
  float: left;
}
.how-box-img i {
  font-size: 13em;
  color: #73DDF1;
  margin: 0 8% 5% 8%;
  transition: all 0.2s ease;
}

.how-box-img i:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: all 0.2s ease;
}

.how-box-step {
  width: 70%;
  margin: 0;
  display: block;
  float: left;
  text-align: center;
}

.how-box h2 {
  color: #FFF;
  font-size: 1.7em;
  padding: 0 5%;
}

.step-circle {
  border-radius: 50%;
  background-color: #FFF;
  width: 80px;
  height: 80px;
  color: #73DDF1;
  font-size: 2.3em;
  text-align: center;
  line-height: 80px;
  margin: 0 auto;
}

.how-jumbotron {
  background-image: url('alpha-home-cleaning.jpg');
  background-size: cover;
  width: 100%;
  height: 500px;
  padding-top: 8%;
}

.how-jumbotron h2 {
  text-align: center;
  color: #FFF;
  font-size: 4em;
  margin: 0;
  font-family: 'Lily Script One', cursive;
  text-shadow: 1px 1px 2px ;
}

.how-jumbotron-container {
  width: 60%;
  margin: 0 auto;
}

.cta {
  width: 100%;
  margin: 3% auto;
  text-align: center;
}

.cta div {
  margin: 0 2%;
  display: inline-block;
}

/* Testimonials */

.testimonials-container-bg {
  width: 100%;
  height: 400px;
  background-color: #FFF;
  padding-top: 3%;
}

.testimonials-container {
  width: 85%;
  margin: 0 auto;
}

.testimonials-container h2 {
  text-transform: uppercase;
  color: #424242;
  font-size: 2em;
  text-align: center;
}

.testimonials-container i {
  font-size: 4em;
  color: #04C2E6;
}

.quote-container {
  width: 100%;
  text-align: center;
}

.quote-box {
  width: 30%;
  padding-top: 3%;
  margin: 0 1%;
  display: inline-block;
}

.quote-box p {
  color: #777676;
  text-align: center;
  font-size: 1.2em;
}

.quote-box img {
  width: 55px;
  display: block;
  margin: 0 auto;
}

#customer {
  font-size: 1em;
  text-align: center;
}

.well-sm {
  height: 125px !important;
  transition: all 0.2s ease;
}

.well-sm:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  transition: all 0.2s ease;
}

.carousel-indicators {
  margin-bottom: -3%;
}

$carousel-indicator-border-color: #73DDF1;
$carousel-indicator-active-bg: #46D4EF;

/* Services Page */

.services-container-bg {
  width: 100%;
  background-color: #FFF;
  padding: 3% 0;
}

.services-container {
  width: 85%;
  margin: 0 auto;
}

.services-container h1 {
  text-align: center;
  font-size: 3em;
  color: #424242;
}

.service-box-container {
  width: 80%;
  margin: 3% auto 0 auto;
}

.service-box {
  width: 30%;
  height: 300px;
  text-align: center;
  padding-top: 5%;
  overflow: hidden;
  border-radius: 5px;
  transition: all 0.2s ease;
  display: inline-block;
  margin: 0 1% 2% 1%;
}

#cleaning {
  background-image: url('cleaning.jpg');
}

#carwash {
  background-image: url('mercedes.jpg');
}

#plumbing {
  background-image: url('bathroom.jpg');
}

#electric {
  background-image: url('lighting.jpg');
}

#painting {
  background-image: url('painting.jpg');
}

#chefs {
  background-image: url('kenyan-food.jpg');
  background-size: cover;
}

#security {
  background-image: url('security-gate.jpg');
  background-size: cover;
}


.service-box:hover {
  transition: all 0.2s ease;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.service-box h2 {
  color: #FFF;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;
}

/* Contact */

.contact-container-bg {
  width: 100%;
  background-image: url('writetous.jpg');
  background-size: cover;
  background-color: #FFF;
  padding: 3% 0;
}

.contact-container {
  width: 60%;
  margin: 0 auto;
  padding-top: 3%;
}

.contact-container h1 {
  font-size: 3em;
  text-align: center;
  color: #424242;
  margin: 1% 0;
}

.contact-container p {
  font-size: 1.2em;
  text-align: center;
  color: #7B7B7B;
}

.input-group {
  margin-bottom: 2%;
}

.contact-container form {
  padding: 2%;
}

.contact-container label {
  padding: 0 !important;
  width: 75px !important;
  text-align: center !important;
}

#contact-send-button {
  border: none;
  padding: 15px 75px;
  margin: 2% 0;
}

#contact-send-button i {
  display: inline-block !important;
}

$input-color-placeholder: #C3C3C3;

/* FAQ */

.faq-container-bg {
  width: 100%;
  background-image: url('sky.jpg');
  background-size: cover;
  background-color: #FFF;
  padding: 3% 0;
  height: 900px;
}

.faq-container {
  width: 80%;
  margin: 0 auto;
}

.faq-container h1 {
  font-size: 3em;
  text-align: center;
  color: #424242;
  margin: 1% 0;
}

.faq-container p {
  font-size: 1.2em;
  text-align: center;
  color: #7B7B7B;
}

/* Footer */

.footer-container-bg {
  background-color: #1D1D1D;
  width: 100%;
  height: 500px;
  padding-top: 3%;
}

.footer-container {
  width: 70%;
  margin: 0 auto;
  padding-top: 3%;
}

.footer-container a {
  color: inherit;
  transition: all 0.2s ease;
}

.footer-container a:hover {
  text-decoration: none;
  color: #ADADAD;
  transition: all 0.2s ease;
}

.footer-container div {
  width: 24%;
  margin: 0 0 2% 0;
  display: inline-block;
  vertical-align: top;
  padding: 0;
}

.footer-container div ul {
  color: #FFF;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-container div ul li {
  margin: 2% 0;
  font-size: 1.2em;
}

.bold {
  font-weight: bold;
}

.footer-container div a i {
  font-size: 3em;
  float: right;
  margin: 0 0 0 10%;
  padding: 0;
  transition: all 0.2s ease;
}

.footer-container div a i:hover {
  color: #ADADAD;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transition: all 0.2s ease;
}

hr {
  border-top: 1px solid #F2F2F2;
  width: 97.3%;
  float: left;
  padding: 0;
}

#bottom-links {
  width: 98%;
  display: inline-block;
}

#footer-links {
  width: 50%;
  float: left;
  text-align: left;
  display: inline-block;
}

#footer-links a {
  margin: 0 2% 0 0;
  color: #6E6E6E;
  font-size: 1.2em;
  transition: all 0.2s ease;
}

#footer-links a:hover {
  text-decoration: none;
  color: #ADADAD;
  transition: all 0.2s ease;
}

#copyright {
  width: 50%;
  float: right;
  text-align: right;
  display: inline-block;
}

#copyright i {
  margin: 0 1%;
  color: #6E6E6E;
  font-size: 1.2em;
  display: inline;
}


@import 'bootstrap';