<div class="footer-container-bg">
  <div class="footer-container">
    <div>
     <ul>
      <li>FAQ</li>
      <li>About</li>
      <li>Careers</li>
      <li>Contact</li>
      <li>Be an Alpha Professional</li>
     </ul>
    </div>
    <div>
      <ul style="color: #6E6E6E">
        <li class="bold">LOCATIONS</li>
        <li>Kilimani</li>
        <li>Lavington</li>
        <li>Kileleshwa</li>
        <li>Hurlingham</li>
        <li>Westlands</li>
        <li>Karen</li>
        <li>Runda</li>
      </ul>
    </div>
    <div>
      <ul style="color: #6E6E6E">
        <li class="bold">POPULAR SERVICES</li>
        <li>Home Cleaning</li>
        <li>Car Wash</li>
        <li>Electric</li>
        <li>Painting</li>
        <li>Chefs</li>
        <li>Security Guards</li>
        <li>See other services</li>
      </ul>
    </div>
    <div>
      <i class="fa fa-twitter"></i>
      <i class="fa fa-facebook"></i>
      <i class="fa fa-instagram"></i>
    </div>
    <hr>
    <div id="bottom-links">
      <div id="footer-links">
        <%= link_to 'Privacy Policy', '#' %>
        <%= link_to 'Terms of Use', '#' %>
      </div>
      <div id="copyright">
        <i class="fa fa-copyright"> 2014 Alpha Home. All rights reserved.</i>
      </div>
    </div>
  </div><!-- Footer Container -->
</div><!-- Footer BG -->